header {
  display: flex;
  justify-content: space-between;
  padding: rem-calc(20);
  margin: rem-calc(20);

  background-color: $white;

  .timer {
    margin: auto 0;
    font-size: rem-calc(20);
  }
}

