main {
  margin: 0 rem-calc(20);
  padding: rem-calc(20);
  background-color: $white;
  
  &.no-padding {
    padding: 0;
  }
}

.wrapper {
  padding: rem-calc(20);
  margin: rem-calc(5) rem-calc(20);
  
  &.no-padding {
    padding: 0;
  }
}

.white-bg {
  background-color: $white;
}

header .timer {
  margin: auto 0;
  font-size: rem-calc(20);
}

nav ul {
  display: flex;
  margin: 0;

  justify-items: center;    
  list-style-type: none;
  
  li {
    display: flex;
    align-items: center;
    padding: 0;

    span {
      padding: 0 0.2rem;
    }

    a {
      padding: 1rem 0.5rem;
      margin-right: 0.1rem;    

      background-color: $nav-background-color;
    }
  }
}

.filters {
  & + div {
    margin-top: 20px;
  }

  .filter {
    margin-bottom: 5px;
  }

  .filter-on {
    background-color: $filter-color;
    color: $white;
  }
}