$body-font-size-px: 16;
$default-background-color: #eeeeff;
$heading-color: #337;
$hover-color: #77a;
$heading-font-family: 'Cinzel', serif;
$body-font-family: 'Lato', sans-serif;
$white: #fff;
$nav-background-color: #cce;