$body-font-size-px: 16;
$default-background-color: #eeeeff;
$dark-background-color: #24292e;
$dark-component-background-color: #31363f;
$heading-color: #337;
$hover-color: #77a;
$heading-font-family: 'Cinzel', serif;
$body-font-family: 'Lato', sans-serif;
$white: #fff;
$nav-background-color: #cce;
$nav-dark-background-color: #446;
$filter-color: #337;
$dark-filter-color: #446;