
.levequests-wrapper {
  display: flex;

  .levequests {
    flex: 1;

    th {
      font-weight: 700;
      font-family: $heading-font-family;
      font-size: rem-calc(20);
      padding: 5px 10px;
      border-bottom: 1px solid $nav-background-color;
      &.vertical {
        vertical-align: middle;
      }
    }
  
    td {
      padding: 10px 10px;
      text-align: center;
      
      &.vertical {
        vertical-align: middle;
      }
    }
  }
}